body {
    font-family     : "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size       : large;
}

div.mudcontent {
    padding-top     : 7em;
}

span.welcome {
    position        : relative;
    float           : right;
    color           : white;
    top             : 1em;
}

#inbox {
    position        : fixed;
    top             : 5em;
    bottom          : 5em;
    left            : 0px;
    right           : 0px;
    overflow        : scroll;
    overflow-x      : hidden;
}

#inboxcontents {
    width           : 80%;
    margin-left     : auto;
    margin-right    : auto;
}

#input {
    position        : fixed;
    bottom          : 1em;
    left            : 0px;
    right           : 0px;
}

#inputcontents {
    width           : 80%;
    margin-left     : auto;
    margin-right    : auto;
}

#inputbox {
    font-size       : large;
    font-family     : "Trebuchet MS", Verdana, Arial, sans-serif;
}

div.alert.mud-echo {
    font-family     : monospace;
    font-size       : x-large;
    padding         : 0px;
}

.mud-echo pre {
    font-size       : large;
    font-weight     : bold;
    background-color: white;
    border          : none;
    padding         : 0px;
    margin          : 0px;
}

.mud-echo pre:before {
    content         : "> ";
}

.mud-result {
    background-color: #eeeeee;
    border-color    : #777777;
    color           : black;
}

.mud-error {
    color           : #a94442;
    background-color: #f2dede;
    border-color    : #a94442;
}

.mud-info {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    border-color    : #999999;
    color           : #888888;
    font-style      : italic;
}

/* AJOUTS */

.transition {
    color: #0042c7;
    font-size: 1.1em;
    font-weight: bolder;
}

.warning {
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.1em;
}

.speech {
    color: rgba(0, 68, 255, 0.60);
}

.answer {
    color    : rgba(21, 101, 21, 0.80);
}

.enigme {
    display: flex;
    justify-content: center;
    color: #045e10;
    text-align: center;
    padding: 2em;
}